<div id="backend">
    <a href="index.php?section=logout" title="Abmelden" class="button">Abmelden</a>
    <div id="tasks">
        <ul>
            <li id="myToDos"><a href="./idnex.php?section=myToDos" title="Meine ToDos">Meine ToDo's</a></li>
            <li id="openToDos"><a href="./index.php?section=openToDos" title="">Offene ToDo's</a></li>
            <li id="editProfile"><a href="./index.php?section=profile" title="Profil bearbeiten">Profil bearbeiten</a></li>
        </ul>
    </div>
</div>