<!DOCTYPE html>
<html>
    <head>
        <title>ToDo - [TODOTITLE]</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
        <link rel="shortcut icon" href="./todo/templates/images/favicon2.ico" type="image/x-icon">
        <link rel="icon" href="./todo/templates/images/favicon2.ico" type="image/x-icon">
        
        <link rel="stylesheet" href="./todo/templates/css/main.css" />
        
        <script type="text/javascript" src="./todo/templates/js/javascript.js" async></script>
    </head>
    <body>
        <div id="main-wrapper">
            <header class="wrapper clearfix">
                <div class="left">
                    <a href="./index.php?section=login" title="Startseite"><img src="./todo/templates/images/logo.png" alt="ToDo-Logo" /></a>
                </div>
                <nav id="navigation" class="right">
                    [NAVIGATION]
                </nav>
            </header>
            <section id="content-wrapper">
                <section id="sidebar-wrapper">
                    [SIDEBAR]
                </section>
                <div id="content">
                    [CONTENT]
                </div>
            </section>
            <footer class="wrapper">
                <p style="text-align: center; font-size: 10px;">ToDo &copy; Nick Br&ouml;nnimann</p>
            </footer>
        </div>
    </body>
</html>
