<div id="login">
    <div id="error"></div>
    <form action="./index.php?section=login" method="post" id="login">
        <div class="contact row">
            <label>Benutzername</label>
            <input type="text" placeholder="Benutzername" />
        </div>
        <div class="contact row">
            <label>Passwort</label>
            <input type="password" placeholder="Passwort" />
            <input type="submit" value="Anmelden" />
            <a class="button" href="./index.php?section=register" title="Registrieren">Registrieren</a>
        </div>
    </form>
</div>