<ul>
    <li id="create"><a href="./index.php?section=create" title="Todo erstellen">Todo erstellen</a></li>
    <li id="myToDos"><a href="./index.php?section=myTodos" title="Meine ToDos">Meine ToDo's</a></li>
    <li id="openToDos"><a href="./index.php?section=openTodos" title="">Offene ToDo's</a></li>
    <li id="editProfile"><a href="./index.php?section=editUser" title="Profil bearbeiten">Profil bearbeiten</a></li>
    <li id="category"><a href="./index.php?section=category" title="Kategorien">Kategorien</a></li>
    <li id="crateCategory"><a href="./index.php?section=createCategory" title="Kategorie erstellen">Kategorie erstellen</a></li>
</ul>