<form action="./index.php?section=register&do=createUser" method="post" id="registration">
    <p id="errormsg"></p>
    <p class="dberror">[TODO_ERROR]</p>
    <label>Benutzername</label>&nbsp;<input id="username" type="text" placeholder="Benutzername" name="username" >&nbsp;
    <label>Passwort</label>&nbsp;<input type="password" name="password" >
    <div id="infotext">Passwort sollte mindestens 8 Zeichen lang sein und Sonderzeichen wie $, !, &amp; etc. beinhalten</div>
    <label>Passwort erneut eingeben</label>&nbsp;<input id="retypePassword" type="password" name="retypePassword" >
    <input type="reset" value="Zur&uuml;cksetzen" name="reset" >
    <input type="submit" value="Registrieren" name="submit" >    
</form>
<script>
   
    
    var checkPasswd = function(){
        var passwd = document.getElementsByName("password")[0].value;
        var repasswd = document.getElementsByName("retypePassword")[0].value;
        
        if (passwd == repasswd && passwd.length != 0) {
            document.getElementsByName("submit")[0].disabled = false;
            document.getElementById("errormsg").innerHTML = '';
        } else {
            document.getElementsByName("submit")[0].disabled = true;
            document.getElementById("errormsg").innerHTML = 'Bitte &uuml;berpr&uuml;fen Sie die Passw&ouml;rter';
        }
    }
    checkPasswd();
    document.getElementsByName("password")[0].onchange = checkPasswd;
    document.getElementsByName("retypePassword")[0].onchange = checkPasswd;
    
    if (document.getElementsByClassName("dberror")[0].innerHTML != '[TODO_ERROR]') {
        document.getElementsByClassName("dberror")[0].style.display = 'block';
    } else {
        document.getElementsByClassName("dberror")[0].style.display = 'none';
    }
</script>