#navigation {}
disp {}
header.wrapper {
    display: inline-block;
    width: 20%;
}
#content-wrapper {
    display: inline-block;
    width: 70%;
}
#main-wrapper {
    width: 1200px;
    margin: 0 auto;
}
#content {
    display: inline-block;
    width: 70%;
}
#sidebar-wrapper {
    display: inline-block;
    vertical-align: top;
    width: 29%;
}
label {
    width: 200px;
    display: inline-block;
}
ul {
    list-style: none;
    padding: 0;
}
#navigation a {
    text-decoration: none;
}
#sidebar .button,
.button,
input[type="submit"],
input[type="reset"] {
    text-decoration: none;
    padding: 5px;
    background: aliceblue;
    border-radius: 6px;
    border-image: none;
    border: none;
    height: 29px;
}